<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>janken</title>
</head>

<body>
  <h1>Lec02 GET!</h1>
  <p>
  <div th:if="${myname}">
    Hi [[${myname}]]
  </div>

  <a href="/lec02janken?hand=Gu">ぐー</a>
  <div th:if="${kekka}">
    あなたの手 [[$myhand]]
    相手の手 Gu
    結果 [[${kekka}]]
  </div>


  <a href="/lec02janken?hand=Cho">ちょき</a>
  <div th:if="${kekka}">
    あなたの手 [[$myhand]]
    相手の手 Gu
    結果 [[${kekka}]]
  </div>

  <a href="/lec02janken?hand=Pa">ぱー</a>
  <div th:if="${kekka}">
    あなたの手 [[$myhand]]
    相手の手 Gu
    結果 [[${kekka}]]
  </div>

  </p>

</body>

</html>
