<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>janken</title>
<script>
  window.onload = function(){
    var sse = new EventSource('/result2');
    sse.onmessage = function (event){
      console.log(event.data);
      document.getElementById("p1").textContent = event.data;
    }
  }
</script>
</head>

<body>
<h1>相手の手を待ってます</h1>
 Hi [[${login_user}]]
<p id="p1"></p>
<div >
  <a>結果を見る</a>
</div>
</body>
</html>
